#sidebar {
	background:#e8e8e8;
	border-right:#1d1c1c 1px solid;
}
.navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background: #383838; /* Old browsers */
	background: -moz-linear-gradient(top, #383838 0%, #1d1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #1d1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #383838 0%, #1d1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #383838 0%, #1d1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #383838 0%, #1d1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #383838 0%, #1d1c1c 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#1d1c1c', GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;/*border-bottom:#0c0c0c 1px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
*/
}
.side-nav li a {
	background: #555957; /* Old browsers */
	background: -moz-linear-gradient(top, #555957 0%, #3e4240 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555957), color-stop(100%, #3e4240)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555957 0%, #3e4240 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555957 0%, #3e4240 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555957 0%, #3e4240 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555957 0%, #3e4240 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555957', endColorstr='#3e4240', GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	color:#eee;/*text-shadow:
	 0px -1px 0px rgba(000, 000, 000, .8), 0px 1px 0px rgba(255, 255, 255, 0.2);*/
}
.side-nav li a {
	border-bottom:#1d1c1c 1px solid;
}
.side-nav li a:hover {
	background: #f8f8f8;
	color:#333;
}
.side-nav li ul li a {
	background:#e8e8e8
}
.side-nav li ul li a .sidenav-icon .sidenav-link-color {
	background:#ababab;
}
.side-nav li ul li a:hover .sidenav-icon .sidenav-link-color {
	background:#454947;
}
.accordion-header a {
	background: #555957; /* Old browsers */
	background: -moz-linear-gradient(top, #555957 0%, #3e4240 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555957), color-stop(100%, #3e4240)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555957 0%, #3e4240 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555957 0%, #3e4240 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555957 0%, #3e4240 100%); /* IE10+ */
	background: linear-gradient(to bottom, #555957 0%, #3e4240 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555957', endColorstr='#3e4240', GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	color:#eee;/*text-shadow:
	 0px -1px 0px rgba(000, 000, 000, .8), 0px 1px 0px rgba(255, 255, 255, 0.2);*/

	color:#fff;
}
.accordion-header a:hover {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%, #000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%, #000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%, #000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0 ); /* IE6-9 */
}
.cal caption {
	color: #e2e2e2;
	font-weight: bold;
	background: #333;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%, #262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%, #262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #666666 0%, #262626 100%); /* IE10+ */
	background: linear-gradient(to bottom, #666666 0%, #262626 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#262626', GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #333;
	border-bottom: 1px solid #313131;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}
.cal caption {
	text-shadow: 0 -1px black;
}
.cal caption a {
	color: #e2e2e2;
}
