<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border = 1>
        <tr>
            <th>FUll Ques</th>
            <th>Blank Ans</th>
            <th>Answer</th>
            <th>Tag</th>
        </tr>
        {% for que in qad: %}
        <tr>
            <td>{{ que["Full_qus"] }}</td>
            <td>{{ que["Question"] }}</td>
            <td>{{ que["Answer"] }}</td>
            <td>{{ que["Prediction"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>